[submodule "nvim/plugged/vim-airline-themes"]
	path = nvim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "nvim/plugged/vim-airline"]
	path = nvim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/plugged/vim-deus"]
	path = nvim/plugged/vim-deus
	url = https://github.com/ajmwagar/vim-deus
[submodule "zim/modules/asciiship"]
	path = zim/modules/asciiship
	url = https://github.com/zimfw/asciiship
[submodule "zim/modules/completion"]
	path = zim/modules/completion
	url = https://github.com/zimfw/completion
[submodule "zim/modules/duration-info"]
	path = zim/modules/duration-info
	url = https://github.com/zimfw/duration-info
[submodule "zim/modules/environment"]
	path = zim/modules/environment
	url = https://github.com/zimfw/environment
[submodule "zim/modules/git-info"]
	path = zim/modules/git-info
	url = https://github.com/zimfw/git-info
[submodule "zim/modules/git"]
	path = zim/modules/git
	url = https://github.com/zimfw/git
[submodule "zim/modules/input"]
	path = zim/modules/input
	url = https://github.com/zimfw/input
[submodule "zim/modules/magicmace"]
	path = zim/modules/magicmace
	url = https://github.com/zimfw/magicmace
[submodule "zim/modules/prompt-pwd"]
	path = zim/modules/prompt-pwd
	url = https://github.com/zimfw/prompt-pwd
[submodule "zim/modules/termtitle"]
	path = zim/modules/termtitle
	url = https://github.com/zimfw/termtitle
[submodule "zim/modules/utility"]
	path = zim/modules/utility
	url = https://github.com/zimfw/utility
[submodule "zim/modules/zsh-autosuggestions"]
	path = zim/modules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zim/modules/zsh-completions"]
	path = zim/modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zim/modules/zsh-history-substring-search"]
	path = zim/modules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zim/modules/zsh-syntax-highlighting"]
	path = zim/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
